@import url(__title/cover__title.css);
@import url(__overlay/cover__overlay.css);
@import url(__subtitle/cover__subtitle.css);
@import url(__content/cover__content.css);

.cover {
    margin-bottom: 92px;
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: 100% 100%;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1279px) {
    .cover {
        min-width: 1024px;
        min-height: 640px;
    }
}
@media (max-width: 1023px) {
    .cover {
        min-width: 768px;
        min-height: 480px;
    }
}
@media (max-width: 767px) {
    .cover {
        min-width: 320px;
        min-height: 400px;
        margin-bottom: 64px;
    }
}
@media (max-width: 480px) {
    .cover {
        min-height: 200px;
    }
}